@import "node_modules/ol/ol.css";

:root{
    font-size: 16px;
    /* Inter Font */
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    font-variation-settings: "slnt" 0;

    --image-side: calc((100vw - 2*var(--side-margin) - var(--scroll-bar-width) - 0.05rem - 2*var(--number-cols)*var(--image-margin))/var(--number-cols));
    --navbar-height: 4rem;
    --side-margin: 10rem;
    --scroll-bar-width: 1rem;
    --image-margin: .125vw;
    --number-cols: 3;
    scrollbar-width: var(--scroll-bar-width);
    --popup-image-width: 60%;
    --popup-image-height: 90%;
    --teal: #BFD7D6;
}

body{
    margin: 0;
}

main{
    padding: 0 var(--side-margin);
}

/* Navbar */
nav{
    position: relative;
    height: var(--navbar-height);
    width: calc(100% - 2*var(--side-margin));
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--side-margin);
}

.logo{
    font-size: 2rem;
    cursor: pointer;
}

nav .link{
    font-size: 1.25rem;
    position: relative;
    right: 0;
    text-decoration: none;
    opacity: 1;
    color: black;
}

nav .link:hover{
    opacity: 0.6;
}

/* Images */
#images{
    padding-top: 1vh;
    display: flex;
    background-color: aliceblue;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.image{
    overflow-wrap: break-word;
    width: var(--image-side);
    height: var(--image-side);
    overflow: hidden;
    padding: var(--image-margin);
    cursor: pointer;
}

.pop-up-open{
    cursor: default;
}

.image img{
    width: var(--image-side);
    height: var(--image-side);
}

/* Pop-up */
.popup{
    background-color: white;
    position: fixed;
    width: 60vw;
    height: 80vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 1vh 1vw;
    border-radius: 1rem;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.popup img{
    max-width: var(--popup-image-width);
    max-height: var(--popup-image-height);
    border-radius: 0.5rem;
}

#popup-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 2%;
    padding: 0 2% 2% 2%;
    width: 100%;
    height: var(--popup-image-height);
    background-color: var(--teal);
    overflow-y: auto;
    overflow-wrap: break-word;
    border-radius: 1rem;
}

#map {
  width: 100%;
  height: 100%;
}

a.skiplink {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
a.skiplink:focus {
    clip: auto;
    height: auto;
    width: auto;
    background-color: #fff;
    padding: 0.3em;
}
#map:focus {
    outline: #4A74A8 solid 0.15em;
}

.hidden{
    display: none;
}

/* Fonts */
.grand-hotel-regular {
    font-family: "Grand Hotel", cursive;
    font-weight: 400;
    font-style: normal;
}

/* Mobile Devices */
@media (max-width: 1000px){
    :root{
        --side-margin: 5rem;
        --image-side: calc((100vw - 2*var(--side-margin) - 2*var(--number-cols)*var(--image-margin))/var(--number-cols));
    }
}

@media (max-width:800px){
    :root{
        --side-margin: 2rem;
    }
}

@media (max-width: 500px){
    :root{
        --side-margin: 0.5rem;
        --navbar-height: 5rem;
        --number-cols: 2;
        --image-side: calc((100vw - 2*var(--side-margin) - 2*var(--number-cols)*var(--image-margin))/var(--number-cols));
    }
}

@media (max-width: 300px){
    :root{
        --number-cols: 1;
    }
}